 @font-face {
      font-family: 'Lato';
      src: URL('../fonts/Lato-Regular.ttf');
 }

header{
     margin-bottom: 20px;
}

body{
     font-family: 'Lato';
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

.wrapper{
     flex:1;
}

#footer{
     height: 5rem;
     width: 100%;
     margin-top: 2em;
}

#dates{
     margin-top: 0px;
     padding-top: 2rem;
}

li {
      max-width: 500px;
      list-style-type: none;
 }

 ul {
      padding-left: 0px;
 }

 #topBanner {
      background-image: url("../img/home.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      height: 100%;
      padding: 5rem !important;
      text-shadow:
           -1px -1px 0 #000,
           1px -1px 0 #000,
           -1px 1px 0 #000,
           1px 1px 0 #000;
 }
