{% extends "base.html" %}

{% block content %}
<div class="wrapper">
	<div class="container-sm">
		<div class="row justify-content-center intro p-2">
			<div class="col-6">
				<article>
					<h2>Skills</h2>
					<p>Basics in front-end development (HTML, CSS, Bootstrap and JavaScript). Just started learning back-end using Python and the Flask framework. I have made sites with WordPress too </p>
				</article>
			</div>
		</div>
		<div class="row justify-content-center intro">
			<div class="col-md-4 justify-content-center p-4">
				<i data-bs-toggle="tooltip" title="HTML5" data-container="body" class="fa-brands fa-html5"></i>
				<i data-bs-toggle="tooltip" title="CSS3" data-container="body" class="fa-brands fa-css3" aria-hidden="true"></i>
			</div>
		</div>

		<div class="row justify-content-center intro pt-4 pb-5">
			<div class="col-md-4 justify-content-center">
				<i data-bs-toggle="tooltip" title="Python" data-bs-placement="bottom" data-container="body" class="fa-brands fa-python"></i>
				<i data-bs-toggle="tooltip" title="JavaScript" data-bs-placement="bottom" data-container="body" class="fa-brands fa-js"></i>
			</div>
		</div>
	</div>
	<section id="dock-section" class="my-4">
		<div id="dock-background"></div>
		<div id="dock-text" class="text-white bg-dark"><p>Contact me if you need a web developer. Always up for discussing a project</p></div>
	</section>

	<div class="container-sm mt-5">
		<div class="row justify-content-center">
			<div class="col-md-3 social">
				<h2>Social media</h2>
				<p>Connect on Facebook or e-mail: <adress><a href="mailto: daniel@dpitulia.com">daniel@dpitulia.com</a></adress>
				</p>
				<adress><a href="mailto:daniel@dpitulia.com" class="fa fa-envelope"></a></adress>
				<adress><a href="https://www.facebook.com/danielpitulia/" class="fa-brands fa-facebook"></a></adress>
				<adress><a href="https://www.github.com/danielpitulia/" class="fa-brands fa-github"></a></adress>

			</div>
			<div class="col-md-3">
				<h2>Contact me</h2>
				<form action="" method="post" novalidate>
					{{ form.csrf_token() }}
					<p>{{ form.name.label }}<br>
						{{ form.name(size=32) }}
					</p>
					{% if form.name.errors %}
					<p class="error">{{ form.name.errors[0] }}
					<p>
						{% endif %}
					<p>{{ form.email.label }}<br>
						{{ form.email(size=32) }}
					</p>
					{% if form.email.errors %}
					<p class="error">{{ form.email.errors[0] }}
					<p>
						{% endif %}
					<p>{{ form.message.label }}<br>
						{{ form.message(cols=32, rows=10) }}
					</p>
					{% if form.message.errors %}
					<p class="error">{{ form.message.errors[0] }}
					<p>
						{% endif %}
					<p>{{ form.submit() }}</p>

				</form>
				{% if sent_message %}
				<p>{{ sent_message }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
