{% extends "base.html" %}

{% block content %}
<div class="wrapper">
	<div class="container-sm">
		<div class="row justify-content-center intro">
			<div class="col-4">
			<article >
				<h2>Skills</h2>
				<p>Basics of front-end development (HTML, CSS, Bootstrap and JavaScript). Just started learning back-end using Python and the Flask framework. I have made sites with WordPress too </p>
			</article>
			</div>
			</div>
			<div class="row justify-content-center intro">
				<div class="col-md-4 justify-content-center">
			<i class="fa-brands fa-html5" aria-hidden="true"></i>
			<i class="fa-brands fa-css3" aria-hidden="true"></i>
			<i class="fa-brands fa-python"></i>
			<i class="fa-brands fa-js"></i>
			</div>

	</div>
		<div class="row">
			<div class="col-md-5 social">
				<h2>Social media</h2>
				<p>Connect on Facebook or e-mail: <adress><a href="mailto: daniel@dpitulia.com">daniel@dpitulia.com</a></adress>
				</p>
				<adress><a href="mailto:daniel@dpitulia.com" class="fa fa-envelope"></a></adress>
				<adress><a href="https://www.facebook.com/danielpitulia/" class="fa-brands fa-facebook"></a></adress>
				<adress><a href="https://www.github.com/danielpitulia/" class="fa-brands fa-github"></a></adress>

			</div>
			<div class="col-md-4">
				<h2>Contact me</h2>
				<form action="" method="post" novalidate>
					{{ form.csrf_token() }}
					<p>{{ form.name.label }}<br>
						{{ form.name(size=32) }}
					</p>
					{% if form.name.errors %}
					<p class="error">{{ form.name.errors[0] }}
					<p>
						{% endif %}
					<p>{{ form.email.label }}<br>
						{{ form.email(size=32) }}
					</p>
					{% if form.email.errors %}
					<p class="error">{{ form.email.errors[0] }}
					<p>
						{% endif %}
					<p>{{ form.message.label }}<br>
						{{ form.message(cols=32, rows=10) }}
					</p>
					{% if form.message.errors %}
					<p class="error">{{ form.message.errors[0] }}
					<p>
						{% endif %}
					<p>{{ form.submit() }}</p>

				</form>
				{% if sent_message %}
				<p>{{ sent_message }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
