{% extends "base.html" %}

{% block content %}
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2>Social media</h2>
				<p>Connect on Facebook or e-mail: daniel@dpitulia.com</p>
				<a href="mailto:daniel@dpitulia.com" class="fa fa-envelope"></a>
				<a href="https://www.facebook.com/danielpitulia/" class="fa fa-facebook"></a>
				<a href="https://www.github.com/danielpitulia/" class="fa fa-github"></a>
				<hr class="d-sm-none">
			</div>
			<div class="col-sm-8">
				<h2>Contact me </h2>
				<p>(currently under construction, I am rewriting this function)</p>
				<form action="mail-script.php" method="POST">
					<ul>
						<li>
							<label for="name">Name: </label>
							<input type="text" id="name" name="name" class="form-control">
						</li>
						<li>
							<label for="mail">E-mail: </label>
							<input type="email" id="email" name="email" class="form-control">
						</li>
						<li>
							<label for="message">Message: </label>
							<textarea id="msg" name="message" class="form-control"></textarea>
						</li>
						<li id="sendButton" class="btn">
							<button type="submit" value="send" name="submit">Send your message</button>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
