{% extends "base.html" %}

{% block content %}
<div class="wrapper">
     <div class="container">

          <div id="intro_circle" class="container t-5">
               <h3>Enhetscirkel</h3>
               <p>For those who are interested in maths. Use your mouse or touch screen to change the angle in the unit circle below.
               the x and y values represent the sine and cosine of the angle. The exact values are shown in parentheses.</p>
          </div>

          <div id="circle_container" class="container t-5">
               <!-- The exact values for 30°, 45° and 60° are written using MathJax and positioned with absolute values.   -->
               <canvas id="myCanvas" height="400" width="350"></canvas>
               <p id="position">x =<br> y =<br> angle (rad) =<br> angle (rad) =</p>
               <!-- I tried creating this in a js loop but decided to write it manually-->
               <div id="x_y_11" class="cmath">`(frac(sqrt(3))(2),frac(sqrt(1))(2))`</div>
               <div id="x_y_12" class="cmath">`(frac(sqrt(2))(2),frac(sqrt(2))(2))`</div>
               <div id="x_y_13" class="cmath">`(frac(sqrt(1))(2),frac(sqrt(3))(2))`</div>

               <div id="x_y_21" class="cmath">`(-frac(sqrt(1))(2),frac(sqrt(3))(2))`</div>
               <div id="x_y_22" class="cmath">`(-frac(sqrt(2))(2),frac(sqrt(2))(2))`</div>
               <div id="x_y_23" class="cmath">`(-frac(sqrt(3))(2),frac(sqrt(1))(2))`</div>

               <div id="x_y_33" class="cmath">`(-frac(sqrt(3))(2),-frac(sqrt(1))(2))`</div>
               <div id="x_y_32" class="cmath">`(-frac(sqrt(2))(2),-frac(sqrt(2))(2))`</div>
               <div id="x_y_31" class="cmath">`(-frac(sqrt(1))(2),-frac(sqrt(3))(2))`</div>

               <div id="x_y_41" class="cmath">`(frac(sqrt(1))(2),-frac(sqrt(3))(2))`</div>
               <div id="x_y_42" class="cmath">`(frac(sqrt(2))(2),-frac(sqrt(2))(2))`</div>
               <div id="x_y_43" class="cmath">`(frac(sqrt(3))(2),-frac(sqrt(1))(2))`</div>
               <p>I did this using the canvas element and some JavaScript code. I also imported a JS library called MathJax for the math symbols.</p>

          </div>
     </div>
</div>
{% endblock %}
